<div class="docs-header">
    <nav class="navbar navbar-expand-md fixed-top ms-0">
        <a class="navbar-brand" href="{{ '/' | relative_url }}">
            <img src="{{ '/assets/images/brand/logo/logo.svg' | relative_url }}" alt="Geeks" />
        </a>
        <div class="ms-auto d-flex align-items-center">
            <div class="d-flex">
                <div class="me-2 me-lg-0 ms-2">
                    <a class="btn btn-primary" href="https://github.com/jinydev/laravel" target="_blank">GitHub</a>
                </div>
                <div>
                    <button class="btn btn-icon navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </div>
    </nav>
</div>

