<ul class="navbar-nav flex-column" id="sidebarnav">
    <!-- Getting Started -->
    <li class="navbar-header">
      <h5 class="heading">시작하기</h5>
    </li>
    <li class="nav-item">
        <a href="/" class="nav-link">라라벨</a>
    </li>
    <li class="nav-item">
        <a href="/setup" class="nav-link">설치</a>
    </li>
    <li class="nav-item">
        <a href="/setup/artisan" class="nav-link">아티산</a>
    </li>

    <li>
        <div class="navbar-border"></div>
    </li>

    <!-- Hello World -->
    <li class="navbar-header">
        <a href="/study" class="heading">기본학습+</a>
    </li>
    <li class="nav-item">
        <a href="/study/02-routing" class="nav-link">라우팅</a>
    </li>

    <li class="nav-item">
        <a href="/study" class="nav-link">MVC패턴</a>
    </li>
    <li class="nav-item">
        <a href="/study" class="nav-link">라우팅</a>
    </li>
    <li class="nav-item">
        <a href="/study" class="nav-link">View</a>
    </li>
    <li class="nav-item">
        <a href="/study" class="nav-link">Controller</a>
    </li>
    <li class="nav-item">
        <a href="/study" class="nav-link">Model</a>
    </li>

    <li>
        <div class="navbar-border"></div>
    </li>
    <li class="navbar-header">
        <h5 class="heading">Livewire</h5>
    </li>

    <li>
        <div class="navbar-border"></div>
    </li>

    <li>
        <div class="navbar-border"></div>
    </li>
    <li class="navbar-header">
        <h5 class="heading">프로젝트</h5>
    </li>

    <li>
        <div class="navbar-border"></div>
    </li>

</ul>